.chart {
  background: #f8fafc;
  border-radius: 20px;
  padding: 2rem;
}

.chart h3 {
  margin-bottom: 2rem;
}

.bars {
  height: 300px;

  display: flex;

  justify-content: space-around;

  align-items: flex-end;
}

.barContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
}

.bar {
  width: 55px;

  background: var(--color-primary);

  border-radius: 12px 12px 0 0;

  transition: height .4s ease;
}

.barContainer span {
  font-size: .85rem;
  color: var(--color-text-secondary);
}

@media(max-width: 768px){
  .bars {
    gap: 0.5rem;
  }

  .bar {
    width: 32px;
  }

  .barContainer span {
    font-size: 0.7rem;
  }
}